/* colour palette: https://colorhunt.co/palette/189745
1) #eeeeee
2) #32e0c4
3) #393e46
4) #222831 */

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: #eeeeee;
  background-color: #222831;
}

.page-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #32e0c4;
  color: #222831;
}

.page-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center-between;
  list-style: none;
}

.page-header a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-column-gap: 200px;
  margin-top: 50px;
  margin-left: 100px;
}

.item {
  border: solid 1px;
  width: 300px;
  margin-top: 30px;
}
